<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springframework.auth.domain.mapper.ClientdetailsMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        appId, resourceIds, appSecret, scope, grantTypes, redirectUrl, authorities, access_token_validity AS accessTokenValidity, refresh_token_validity AS refreshTokenValidity, additionalInformation, autoApproveScopes
    </sql>

</mapper>
